<template name="options">
  <div class="content">
    <div class="row centered">
      <h2 class="blue-text text-darken-3">Add an extractor:</h2>
      <div class="input-field col s6">
        <input class="name" id="extractorName" type="text"  />
        <label for="extractorName">Extractor's name</label>
      </div>
      <div class="input-field col s6">
        <input class="ip" id="extractorIp" type="text" />
        <label for="extractorIp">Extractor's ip and port (ex:111.222.111.222:8080)</label>
      </div>
      <div class="row">
        <div class=" col s12">
          <a class="btn waves-effect waves-light blue darken-4" id="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </a>
        </div>
      </div>
      <table class="highlight">
        <thead>
          <tr>
            <th>Name</th>
            <th>IP and port</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each extractors}}
          <tr>
            <td>
              <input id="name" type="text" value="{{name}}" />
              <input type="hidden" id="id" value="{{_id}}" />
            </td>
            <td>
              <input id="ip" type="text" value={{ip}} />
            </td>
            <td>
              <a class=" btn-floating btn-small waves-effect center waves-light remove red darken-4" id="delete" title="Remove extractor">
                <i class="material-icons" name="{{name}}">delete</i>
              </a>
              <a class=" btn-floating btn-small waves-effect center waves-light remove blue darken-4" id="update" title="Submit modifications">
                <i class="material-icons" name="{{name}}">send</i>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
