<template name="playerCommand">

<div id='playerCommand' class="row center-align" >

<div class="valign-wrapper col s8">
 <button id='playButton' class="col s1  btn waves-effect waves-light" type="button" ><i class="material-icons">play_arrow</i></button>
 <button id='pauseButton' class="col s1 btn waves-effect waves-light" type="button"><i class="material-icons">pause</i></button>

 <p class="col s5 range-field">
	<input type="range" id="seekBar" value="0" min="0" max="10"/>
 </p>
 <button class="col s2 btn" id="currentFrame">1</button>
 <button id='prevAnnotedButton' class="col s1 btn waves-effect waves-light" type="button"><i class="material-icons">skip_previous</i></button>
 <button id='nextAnnotedButton' class="col s1 btn waves-effect waves-light" type="button"><i class="material-icons">skip_next</i></button>
</div>

 <form class="selection  valign-wrapper col s3" >
 <span class="col s6"> <label>{{_ 'begin'}}</label> <input id="beginSelect"  type="number"> </span>
 <span class="col s5"> <label>{{_ 'end'}}</label><input id="endSelect"  type="number"> </span>
<div class = "col s1" style="margin-left: 0px;">
    <label>{{_ 'partialPlay'}}</label>
        <div class = "switch">
			<label>
				<input id='partialButton' type = "checkbox">
                <span class = "lever"></span>
			</label>
		</div>
</div>

</form>



</div>


</template>
