<template name="newproject">
  <div class="centered">
    <h2 class="indigo-text">{{_ 'createProject'}}</h2>
    <div class="content">
      <div class="row">
        <form class="col s12">
          <div class="indigo lighten-5 divborder">
            <div class="row">
              <div class="input-field col s6 {{errorClass 'name'}}">
                <input type="text" id="projectName" class="validate white style-input projectName" />
                <label for="projectName">{{_ 'nameProject'}}</label>
                <span class="red-text">{{errorMessage 'name'}}</span>
              </div>
              <div class="input-field col s6 {{errorClass 'url'}}">
              </div>
            </div>

            <div class="row">
              <form>
              <div class="col s6">
                <input id="radioButtonUrl" type="radio" name="video" value="{{_ 'useUrl'}}" checked>
                <label for="radioButtonUrl">{{_ 'useUrl'}}</label>
                <span  class="red-text">{{errorMessage 'file'}}</span>
              </div>
              <div class="col s6">
                <input id="radioButtonFile" type="radio" name="video" value="{{_ 'useFile'}}">
                <label for="radioButtonFile">{{_ 'useFile'}}</label>
              </div>
            </form>
            </div>

            <div class="row" id="urlForm">
              <div class="input-field col s6 {{errorClass 'url'}}">
                <input type="text" id="url" class="validate url white style-input"/>
                <label for="url">{{_ 'urlProject'}}</label>
                <span  class="red-text">{{errorMessage 'url'}}</span>
              </div>
              <div class="input-field col s6 {{errorClass 'downUrl'}}">
                <input type="text" id="url-down" class="validate downUrl white style-input col s11">
                <a href="/help#url_down_help" target='_blank' id="helpProject" class="col s1" style="padding-top:10px;"><i class="material-icons">help</i></a>
                <label for="url-down">{{_ 'downUrlProject'}}</label>
                <span  class="red-text">{{errorMessage 'downUrl'}}</span>
              </div>
            </div>
          </div>

        <div class="row indigo lighten-5 divborder">
          <div class="col s6 {{errorUserClass 'participant'}}">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" id="search" class="white style-input">
                <label for="search">{{_ 'searchUsers'}}</label>
              </div>
            </div>
            <div class="row">
              <select multiple="multiple" size="5" class="select col s12 white style-input" style="height:100px" id="participant">
                {{#each users}}
                <option class="option" value="{{username}}">{{username}}</option>
                {{/each}}
              </select>
              <span  class="red-text">{{errorUserMessage 'participant'}}</span>
            </div>
            <div class="row">
              <div class="col s6 offset-s3">
                <a class="btn waves-effect waves-light bold amber darken-1 col s12" id="addUser" name="addUser">{{_ 'addUser'}}
                </a>
              </div>
            </div>
          </div>
          <div class="col s6">
            <table class="highlight">
              <thead>
                <tr>
                  <th>{{_ 'usersProject'}}</th>
                  <th class="align-right right">{{_ 'actions'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each coworkers}}
                <tr>
                  <td>
                    {{username}}
                  </td>
                  <td>
                    <a class="remove_circle btn-floating btn-tiny waves-effect waves-light red lighten-1 right-align right" title="{{_ 'removeUser'}}">
                      <i class="material-icons" name="{{username}}">remove</i>
                    </a>
                  </td>

                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row indigo lighten-5 divborder">
          <div class="col s6">
            <p class="flow-text">{{_ 'movieDuration'}}</p>
            <div class="input-field inline col s12 {{errorClass 'duration'}}">
              <input class="col s3 white style-duration right-align" type="number" max="99" min="0" id="hours" placeholder="HH"/>
              <input class="col s3 white style-duration right-align" type="number" max="60" min="0" id="minutes" placeholder="MM"/>
              <input class="col s3 white style-duration right-align" type="number" max="60" min="0" id="seconds" placeholder="SS"/>
            </div>
            <span class="red-text">{{errorMessage 'duration'}}</span>
          </div>
          <div class="col s6">
            <p class="flow-text">{{_ 'frameRate'}}</p>
            <div class="input-field col s12 {{errorClass 'frameRate'}}">
              <select id="frameRate" class="single-select white style-input">
                <option value="" disabled selected></option>
                <option value="23.98">23.98</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="29.97">29.97</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="59.94">59.94</option>
                <option value="60">60</option>
              </select>
              <span class="red-text">{{errorMessage 'frameRate'}}</span>
            </div>
          </div>
        </div>
        <div class="indigo lighten-5 divborder">
          {{> omdbForm}}
        </div>
        <div class="row">
          <div class="col s4 offset-s4" >
            <a class="btn waves-effect waves-light bold" id="newProjectForm" name="action">{{_ 'createButton'}}
              <i class="material-icons right">send</i>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</template>
