<template name="project">
  {{test}}
  <div id="container">
    <div class="row">
      <div class="col s8">
        <!-- <div class="col s8" style="display:none"> -->
        <!-- {{> svg}} -->
        {{#if uploadIsDone}}

          {{> videoPlayer}}
          {{> playerCommand}}
        {{else}}
          Uploading <b>{{file}}</b>:
          <span id="progress">{{uploading}}%</span>
        {{/if}}
        {{> timeLineDisplay}}
      </div>
      <div class="col s4">
        <!-- <div class="col s12"> -->
        {{#if uploadIsDone}}
          {{#if hasRightToWrite}}
            {{> configExtractor}}
          {{/if}}
        {{/if}}
        <h5 class="blue-text text-darken-3">Annotations :</h5>
        <div id="extractors" class="row" action="#">
        </div>
        {{> editor}}
        {{#if hasRightToWrite}}
        <a class="btn waves-effect waves-light blue darken-4" id="saveForms">{{_ 'save'}}</a>
        {{/if}}
      </div>
    </div>
  </div>
</template>
