<template name="project">
{{> notifications}}
{{test}}

<div id="container">
    <div class="row">
      <div class="col s8">
      <!-- <div class="col s8" style="display:none"> -->
        <!-- {{> svg}} -->
        {{> videoPlayer}}
        {{> playerCommand}}
        {{> timeLineDisplay}}
      </div>
      <div class="col s4">
      <!-- <div class="col s12"> -->
		{{#if hasRightToWrite}}
			{{> configurator}}
        {{/if}}

        <h5 class="blue-text text-darken-3">Annotations :</h5>
        <div id="extractors" class="row" action="#">
        </div>

        {{> editor}}
        {{#if hasRightToWrite}}
        <a class="btn waves-effect waves-light blue darken-4" id="saveForms">Save</a>
        {{/if}}
      </div>
    </div>
  </div>
</template>
