<template name="project">
  {{test}}
  <div id="container">
    {{#if projectExists}}
      <div class="row">
        <div class="col s8">
          {{#if isFile}}
            {{#if uploadIsDone}}
              <div id="overlay">
              </div>
              {{> videoPlayer}}
              {{> playerCommand}}
            {{else}}
              {{> videoPlayer}}
            {{/if}}
          {{else}}
            <div id="overlay">
            </div>
            {{> videoPlayer}}
            {{> playerCommand}}
          {{/if}}
          {{> configTimeLine}}
        </div>
        <div class="col s4">
          {{#if isFile}}
            {{#if uploadIsDone}}
              {{#if hasRightToWrite}}
                {{> configExtractor}}
              {{/if}}
            {{/if}}
          {{else}}
            {{#if hasRightToWrite}}
              {{> configExtractor}}
            {{/if}}
          {{/if}}
          {{> configAnnotation}}
          {{#if hasRightToWrite}}
          <a class="btn waves-effect waves-light" id="saveButtonAnnotations">{{_ 'save'}}</a>
          {{/if}}
        </div>
      </div>
    {{else}}
      {{> notFound}}
    {{/if}}
  </div>
</template>
