<template name="team">
  {{#if projectExists}}
  <div class="content">
    <div class="table-container">
      <h2 class="indigo-text">{{_ 'listCollaborators'}}</h2>
      <div class="indigo lighten-5 divborder">
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <td>{{_ 'name'}}</td>
              <td>{{_ 'right'}}</td>
              <td>{{_ 'changeRight'}}</td>
              <td>{{_ 'actions'}}</td>
            </tr>
          </thead>
          {{#with Project}}
          <tbody>
            <tr>
              <td><b>{{Project.owner}}</b></td>
              <td><b>{{_ 'owner'}}</b></td>
              <td></td>
              <td></td>
            </tr>
            {{#each Project.participants}}
            <tr>
              <td>{{username}}</td>
              <td>{{right}}</td>
              <td class="RIGHT">
                <div class="input-field col s2">
                  <select class="single-select white style-input">
                    <option value="Read" selected>Read</option>
                    <option value="Write">Write</option>
                    <option value="Owner">Owner</option>
                  </select>
                </div>
              </td>
              <td>
                <a class="rightChange btn-floating btn-small waves-effect center waves-light remove indigo lighten-2" title="{{_ 'submitModifRight'}}">
                  <i class="material-icons">send</i>
                </a>
                <a class="delete btn-floating btn-small waves-effect center waves-light remove red lighten-1" title="{{_ 'removeUser'}}">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
          {{/with}}
        </table>
      </div>
      <br />
      <div class="row indigo lighten-5 divborder">
        <div class="col s6">
          <div class="row">
            <div class="input-field">
              <input id="name" type="text" class="validate newCoworker_name white style-input" placeholder="{{_ 'fillUsername'}}" />
              <label for="name" data-error="{{_ 'errorFillUsername'}}"> </label>
            </div>
          </div>
          <div class="row">
            <select multiple="multiple" size="5" class="select col s12 white style-input" style="height:100px" id="participant">
              {{#each users}}
              <option class="option" value="{{username}}">{{username}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="input-field col s4">
          <select class="single-select newCoworkerRight white style-input">
            <option value="Read" selected>Read</option>
            <option value="Write">Write</option>
          </select>
        </div>
        <button class="newCoworker waves-effect waves-light btn-large bold" name="add">{{_ 'add'}}
        </button>
      </div>

      <h2 class="indigo-text">{{_ 'projectSettings'}}</h2>

      <div class="indigo lighten-5 divborder">
        <p class="flow-text">{{_ 'changeMovieTitle'}}</p>
        {{> omdbForm}}
        <div class="col s2">
          <a class="btn waves-effect waves-light truncate" disabled id="modifyMovie" name="action" style="margin-top:20px;">{{_ 'modifyMovie'}}
          </a>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  {{> notFound}}
  {{/if}}
</template>
