<template  name="configurator">
  <div>
  Configuration
  </div>
  <div id="configurator">
  <!-- {{parseSchema}} -->
  </div>
  <div id="configuratorButton">
  <!-- {{parseSchema}} -->
  </div>
    
<div>
<h5 class="blue-text text-darken-3">Configuration</h5>
<h5 class="blue-text text-darken-3">Extractors list :</h5>

</div>
<div id="configurator">
<!-- {{parseSchema}} -->
</div>
<div id="configuratorForm">
<!-- {{parseSchema}} -->
</div>
<div id="configuratorButton">
<!-- {{parseSchema}} -->
</div>
</template>
