#overlay {
  margin : 5%;
  width: 80%;
}

#overlay svg {
  position: absolute;
  z-index: 4;
  background-color: rgba(0,0,0,0);
}


#overlay rect {
  fill: none;
  pointer-events: all;
}

#overlay circle,
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#overlay circle {
  fill: #fff;
  fill-opacity: .2;
  cursor: move;
}

#overlay .selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}
