<template name="dashboard">
  <div class="content">
    <div class="table-container">
      <h2 class="indigo-text">{{_ 'dash_projects'}}</h2>
      <a  href="/newProject"  class=" btn-floating btn-small waves-effect right waves-light indigo lighten-2" title="{{_ 'new_project'}}"><i class="material-icons">add</i></a>
      <div class="divborder indigo lighten-5">
        <table class="highlight">
          <thead>
            <tr>
              <th>{{_ 'name'}}</th>
              <th>{{_ 'owner'}}</th>
              <th>{{_ 'url'}}</th>
              <th>{{_ 'actions'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each projects}}
            <tr>
              <td>
                <a href="/project/{{_id}}">
                  {{name}}
                </a>
              </td>
              <td>
                {{owner}}
              </td>
              <td>
                {{url}}
              </td>
              <td>
                {{#if isOwner _id}}
                <a href="/team/{{_id}}" class=" btn-floating btn-small waves-effect center waves-light indigo lighten-2" projectId="{{_id}}" title="{{_ 'settings'}}">
                  <i class="material-icons">settings</i>
                </a>
                <a class=" btn-floating btn-small waves-effect center waves-light remove red lighten-1" title="{{_ 'delete_project'}}">
                  <i class="material-icons" name="{{_id}}">delete</i>
                </a>
                {{else}}
                <a class=" btn-floating btn-small waves-effect center waves-light exit red lighten-1" id="exit" title="{{_ 'exit'}}">
                  <i class="material-icons" name="{{_id}}">exit_to_app</i>
                </a>
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
