<template name="nav">

  <nav style="height:80px;line-height:80px">
    <div class="nav-wrapper indigo">
      <a href="/" class="brand-logo left">
        <img height="80" width="80" src="/images/logo/foat.png" alt="F-OAT" style="margin-top : 0px; margin-left: 10px; margin-bottom: -4px;"/>
      </a>
      <ul id="nav-mobile" class="right">
        <li>
          <a id="change_fr">
            <img height="16" width="25" src="/images/flags/fr.png" alt="France" style="margin-top: 0px;margin-bottom: -4px;"/>
          </a>
        </li>
        <li>
          <a id="change_en">
            <img height="16" width="25" src="/images/flags/uk.png" alt="English" style="margin-top: 0px;margin-bottom: -4px;"/>
          </a>
        </li>
        <li>
          <a id="help" style="padding-top:8px; height:80px"><i class="material-icons">help</i></a>
        </li>
        {{#if currentUser}}
          {{> notifications}}
          <li>
            <a href="/options">{{_ 'options'}}</a>
          </li>
          <li><a id="logout">{{_ 'logout'}}</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>
