<template name="notifications">
  {{#if Template.subscriptionsReady}}
    <ul id="dropdown1" class="dropdown-content">
      {{#if thereIsNotifications}}
        {{#each notifications}}
          <li style="width: 400px !important">{{> notification}}</li>
          <li class="divider"></li>
        {{/each}}
      {{else}}
        <li><a>{{_ 'noNews'}}</a></li>
      {{/if}}
    </ul>
    <li id="lidropdown" style="display:none"><a class="dropdown-button" href="#!" data-activates="dropdown1"><i id="icon_notif" class="material-icons center">notifications_none</i></a></li>
    {{renderDropdownButton}}
  {{/if}}
</template>

<template name="notification">
  <a class="markNotification" title="Mark as read" name="{{date}},{{value}}" style="white-space:pre-wrap; word-wrap:break-word">{{date}} :
{{value}}
  </a>
</template>
