<template name="omdbForm">

  <div class="row">
    <div class="input-field col s6">
      <input type="text" id="filmTitle"/>
      <label for="movieTitle">{{_ 'titleProject'}}</label>
      <span  class="red-text">{{errorSearchMessage 'search'}}</span>
    </div>
    <div class="col s4" >
      <a class="btn waves-effect waves-light blue-grey darken-2 truncate" id="searchMovie" name="action" style="margin-top:20px;">{{_ 'searchTitle'}}
      </a>
    </div>
    <div id="searchLoading" class="preloader-wrapper big">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <table>
        {{#each searchTitles}}
        <tr>
          <td>{{title}}, {{date}}</td>
          <td><a class="select_title btn-tiny btn-floating green right-align right" title="{{_ 'selectTitle'}}">
            <i class="material-icons" name="{{title}},{{date}}">check</i>
          </a></td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>

</template>
